- content_for :create_access_levels do
  .create_access_levels-container
    .js-allowed-to-create{ data: { filter: true } }
  .form-text.gl-text-subtle
    = s_('ProtectedBranch|You can add only groups that have this project shared. %{learn_more_link}').html_safe % { learn_more_link: link_to(_('Learn more.'), help_page_path('user/project/members/share_project_with_groups.md')) }

= render 'projects/protected_tags/shared/create_protected_tag'
