@import 'mixins_and_variables_and_functions';

.ci-status {
  border: 1px solid var(--gl-border-color-default);

  &:hover,
  &:focus {
    text-decoration: none;
  }

  svg {
    height: 13px;
    width: 13px;
    overflow: visible;
  }

  &.ci-failed {
    @include status-color(var(--red-100, $red-100),
      var(--red-500, $red-500),
      var(--red-600, $red-600));
  }

  &.ci-success {
    @include status-color(
      var(--green-100, $green-100),
      var(--green-500, $green-500),
      var(--green-700, $green-700)
    );
  }

  &.ci-canceling,
  &.ci-canceled,
  &.ci-disabled,
  &.ci-scheduled,
  &.ci-manual {
    color: var(--gl-text-color-default);
    border-color: currentColor;

    &:not(span):hover {
      background-color: rgba($gl-text-color, 0.07);
    }
  }

  &.ci-preparing {
    @include status-color(var(--gray-100, $gray-100),
      var(--gray-300, $gray-300),
      var(--gray-400, $gray-400));
  }

  &.ci-pending,
  &.ci-waiting-for-resource,
  &.ci-waiting-for-callback,
  &.ci-failed-with-warnings,
  &.ci-success-with-warnings {
    @include status-color(var(--orange-50, $orange-50),
      var(--orange-500, $orange-500),
      var(--orange-700, $orange-700));
  }

  &.ci-info,
  &.ci-running {
    @include status-color(var(--blue-100, $blue-100),
      var(--blue-500, $blue-500),
      var(--blue-600, $blue-600));
  }

  &.ci-created,
  &.ci-skipped {
    color: var(--gray-500, $gray-500);
    border-color: currentColor;

    &:not(span):hover {
      @apply gl-bg-alpha-dark-4;
    }
  }
}
